<ul class="metismenu" id="side-menu">

    <li>
        <a href="index-rtl.html" class="waves-effect">
            <i class="mdi mdi-home"></i>
            <span> داشبورد </span>
        </a>
    </li>
    <li>
        <a href="/admin/Inventory" class="waves-effect">
            <i class="mdi mdi-home"></i>
            <span> انبار داری </span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);" class="waves-effect">
            <i class="mdi mdi-email"></i>
            <span>فروشگاه </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a href="/admin/shop/productcategory">دسته بندی</a></li>
            <li><a href="/admin/shop/product">محصولات</a></li>
            <li><a href="/admin/shop/Slider">اسلایدشو</a></li>
        </ul>
    </li>
</ul>