@model List<_CommerceQuery.Contract.Slide.SlideQueryModel>

<div class="swiper-container main-page-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#">
                <img src="/Theme/assets/images/main-slider/slider-1.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/Theme/assets/images/main-slider/slider-2.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/Theme/assets/images/main-slider/slider-3.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/Theme/assets/images/main-slider/slider-4.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/Theme/assets/images/main-slider/slider-5.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/Theme/assets/images/main-slider/slider-6.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/Theme/assets/images/main-slider/slider-7.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/Theme/assets/images/main-slider/slider-8.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/Theme/assets/images/main-slider/slider-9.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<div class="swiper-container main-page-slider-thumbs d-none d-sm-block">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <span>جشنواره هوآوی</span>
        </div>
        <div class="swiper-slide">
            <span>سوپرمارکت  باگتو </span>
        </div>
        <div class="swiper-slide">
            <span>خرید سر ماه</span>
        </div>
        <div class="swiper-slide">
            <span>خانگی برقی</span>
        </div>
        <div class="swiper-slide">
            <span>ایکس ویژن</span>
        </div>
        <div class="swiper-slide">
            <span>فعال سازی رمز پویا</span>
        </div>
        <div class="swiper-slide">
            <span>محصولات ورزشی</span>
        </div>
        <div class="swiper-slide">
            <span>صوتی تصویری</span>
        </div>
        <div class="swiper-slide">
            <span>فروش ویژه موبایل</span>
        </div>
    </div>
</div>